input{
  padding:2%;
  margin: 2%;
  width: 90%;
  border: 2px solid rgb(212, 204, 204);
  font-size: 1.4rem;

  /* text-align: center; */

}
.lblError{
  color: red;
}

p{
  color: #00ACC1;
  font-size:6rem;
}
label{
  /* color: white; */
  float: left;
  font-family:Comic Sans MS;
  font-weight: bold;
  font-size: 1.5rem;
}
.container{
  padding: 5%;
}
#loginn{
  /* background-color: rgb(10, 10, 53); */
  text-align: center;
  height: 30rem;

  /* padding: 5%; */
}
#btn1{
  padding: 2%;
  font-weight: bold;
  border: none;
  background-color: #F50057;
  color: white;
  padding-left: 5%;
  padding-right: 5%;
  text-align: center;
  width: 97%;
  font-size: 2rem;

}
#btn1:hover{
  background-color: teal;
}
#btn2:hover{
  color:blue;
}
#btn2{
  padding: 2%;
  font-weight: bold;
  border-bottom: 1px solid grey;
  border: none;
  background-color:white;
  /* color: white; */
  padding-left: 5%;
  padding-right: 5%;
  text-align: center;
  margin-left: 70%;
  font-size: 1.5rem;


}
